# 점프투파이썬 연습문제 2/3/4장

## 2장

In [1]:
#2-1
score=80+75+55
ans=score/3
ans

70.0

In [4]:
#2-2
a=13
if(a %2==1):
    print("홀수")
else:
    print("짝수")

홀수

In [10]:
#2-3
id_num = "881120-1068234"
birth= id_num[0:6]
num = id_num[7:]
print("생년월일: ",birth) 
print("주민등록번호: ",num)

생년월일:  881120
주민등록번호:  1068234

In [23]:
#2-4
pin = "881120-1068234"
a=pin[7]
a

'1'

In [27]:
#2-5
a = "a:b:c:d"
b=a.replace(":","#")
b

'a#b#c#d'

In [38]:
#2-6
a=[1, 3, 5, 4, 2] 
a.sort( )
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [42]:
#2-7
a = ['Life', 'is', 'too', 'short']
a = " ".join(a)
print(a)

Life is too short

In [43]:
#2-8
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [50]:
#2-9
a = dict()
a
a['name'] = 'python'
a[('a',)] = 'python'
#a[[1]] = 'python'
a[250] = 'python'
print("답은 3번"," 딕셔너리의 키로는 리스트를 사용할 수 없기 때문이다")

In [52]:
#2-10
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

In [54]:
#2-11
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a2 = set(a)    
ans = list(a2)   
print(ans)

[1, 2, 3, 4, 5]

In [58]:
#2-12
a = b = [1, 2, 3]
a[1] = 4
print(b," \na와 b에 동일한 주소인 리스트가 할당되었기 때문에 a에서 값을 수정하게 되면 b도 동일한 리스트를 가지므로 수정되게 된다.")

[1, 4, 3]
a와 b에 동일한 주소인 리스트가 할당되었기 때문에 a에서 값을 수정하게 되면 b도 동일한 리스트를 가지므로 수정되게 된다.

## 3장

In [59]:
#3-1
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [62]:
#3-2
a=1
sum=0
while a<=1000:
    if (a%3==0):
        sum=sum+a
    a=a+1
print(sum)

166833

In [65]:
#3-3
a=1
while(a<6):
    print("*"*a)
    a=a+1

*
**
***
****
*****

In [68]:
#3-4
for i in range(1,100+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [70]:
#3-5
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
for i in a:
    sum=sum+i
print(sum/len(a))

79.0

In [71]:
#3-6
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]

## 4장

In [74]:
#4-1
def is_odd(num):
    
    if(num%2==0):
        return False
    else:
        return True
    
b=17
is_odd(b)

True

In [90]:
#4-2
sum=0
def avg_numbers(*args): #입력개수에 제한없음
    sum=0
    for i in args:
        sum=sum+i
    return sum/len(args)



avg_numbers(1,2,3,4)

2.5

In [1]:
#4-3
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)
#입력받은 변수가 정수가 아니라 문자형 타입이어서 이어붙여진 결과이다

첫번째 숫자를 입력하세요:4
두번째 숫자를 입력하세요:3
두 수의 합은 7 입니다

In [99]:
#4-4
print("you" "need" "python")
print("you" "need" "python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))
print("3번째가 ','사이에 공백이 끼어있으므로 출력결과에도 반영된다.")

youneedpython
youneedpython
you need python
youneedpython
3번째가 ','사이에 공백이 끼어있으므로 출력결과에도 반영된다.

In [7]:
#4-5
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [6]:
#4-6
user_input = input("내용 입력:")
f = open('test.txt','a')   
f.write(user_input)
f.write("\n")              
f.close()

내용 입력:hjhk\

In [8]:
#4-7
b = open('test.txt', 'r')
org = b.read()
b.close()

org = org.replace('java', 'python')
b = open('test.txt', 'w')
b.write(org)
b.close()

# 부교재: 야구선수 연봉예측 변수선택

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# 피처마다의 VIF 계수를 출력합니다.
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif.round(1).sort(descending=True)

### [미니 퀴즈 - 3.2]  
*적절한 피처를 선정하여 다시 학습해 보세요.
  
*사용할 피처를 다시 고른 뒤, 다시 학습을 진행했을 때의 Train score, Test score가 어떻게 향상되는지 살펴봅니다.


*저자의 경우 아래의 과정을 거쳐 ['FIP', 'WAR', '볼넷/9', '삼진/9', '연봉(2017)'] 피처를 선정했을 때, 더욱 좋은 결과를 나타냈습니다.


*선정 과정


*VIF 계수가 높은 피처들을 우선적으로 제거합니다. 단, (FIP, kFIP)와 같이 유사한 두가지 피처중에는 하나만을 제거합니다.


*다시 공선성을 검증합니다. 이전 단계에서는 VIF 계수가 높았던 볼넷, 삼진 등의 피처의 VIF 계수가 낮아진 것을 확인할 수 있습니다. VIF 계수가 비정상적으로 높은 피처를 제거해주면, 다른 피처들의 공선성도 자연스레 감소하기 때문입니다.


여전히 VIF 계수가 높은 피처들을 제거합니다.


남은 피처를 토대로 다시한번 회귀분석을 실시합니다. 분석 결과에서 p-value가 유의하면서도 영향력이 큰 피처들을 선정합니다.


train_score, test_score를 비교했을 때, 기존보다 overfit이 비교적 덜 된것으로 보입니다
test rmse 역시 감소한 것을 볼 수 있습니다.

## 주교재 15장 소득 분류 문제 - 로지스틱 회귀, 의사결정나무 - 모델 및 파라미터 최적화해보기